@import "../../styles/app";
.examinePage {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 22px;
    @include vertical();
    .status {
        width: 100%;
        text-align: center;
    }
    .section-button {
        margin-top: 20px;
    }
    .reason {
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
    }
}