.patientCarePage {
  font-size: .32rem;
  position: relative;
  height: 100%;
  background: #fff;
  h2 {
    font-size: .6rem;
    padding: .7rem 0 0;
    color: #1D8CDC;
    text-align: center;
  }
  p {
    color: #999;
    padding-bottom:.4rem;
    text-align: center;
  }
  .content {
    text-align: center;
    p{
      margin: 0 auto;
      color: #333;
      font-size: .4rem;
      width: 80%;
    }
  }
}
