.sickerPage {
    .sicker-info {
        background: #fff;
        padding: .3rem;
        overflow: hidden;
        line-height: normal;
        .avatar {
            float: left;
            img {
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
            }
        }
        .info {
            margin-left: 1.76rem;
            .name {
                font-size: 20px;
                color: #333333;
                margin-bottom: 5px;
            }
            .sexage {
                font-size: 16px;
                color: #999999;
                margin-bottom: 5px;
            }
            .leavedate {
                font-size: 16px;
                color: #999999;
            }
        }
    }
    .medicine-card {
        margin: 10px 0;
        background: #fff;
        min-height: 7.28rem;
        border-radius: 8px;
        padding-left: .5rem;
        position: relative;
        overflow: hidden;
        transition: .4s all;
        .timer {
            font-size: 40px;
            color: #333333;
            letter-spacing: 0px;
            margin: .18rem 0;
            border-bottom: 1px dashed #e2e2e2;
            .icon-love {
                background: url(../../assets/image/icon-heart.png) no-repeat;
                width: .26rem;
                height: .26rem;
                background-size: .26rem;
                display: inline-block;
            }
        }
        .medicine-list {
            .label {
                font-size: .4rem;
            }
            li {
                font-size: 23px;
                line-height: 38px;
                color: #787878;
                letter-spacing: 0px;
            }
        }
        &.transition-hide {
            transform: perspective(600px) rotateY(90deg)
        }
    }
    .calendar-card {
        background: #fff;
        margin-top: 5px;
        transition: .4s all;
        transform: perspective(600px) rotateY(0deg);
        &.transition-hide {
            transform: perspective(600px) rotateY(-90deg)
        }
    }
    .section-button {
        margin-top: .3rem;
    }
}